:root {
  --font-family: "Roboto", sans-serif;
  --background-color: #0077b5;
  --border-color: white;
  --transition: all 2s;
}

body {
  background-color: var(--background-color);
}

/* The animation code */
@keyframes disappear {
  from {
    opacity: 0.5;
    border: none;
  }
  to {
    opacity: 1;
    /* border-width: 1rem; */
    border-style: none;
    border-color: var(--border-color);
    transition: all 5s;
  }
}

.navbar {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.container-fluid {
  background-color: var(--background-color);
}

.navbar-nav {
  font-weight: 500;
}
.navbar-nav .nav-item {
  margin-left: 250px;
}

.navbar-nav .nav-item a {
  color: white;
  transition: var(--transition);
}

.navbar-nav .nav-item a:hover {
  color: var(--background-color);
  text-rendering: optimizeLegibility;
  background-color: var(--border-color);
}

.heros {
  width: 100%;
  position: relative;
  text-align: center;
}

.container {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.image-container {
  /* padding-top: 10rem; */
  display: inline-block;
  width: 100%;
  text-align: center;
}

#career {
  padding-top: 3rem;
}

#exp-image img {
  padding-top: 20px;
  width: 9rem;
  opacity: 0.3;
  transition: var(--transition);
  animation: disappear 2s linear 0s infinite alternate;
}

#exp-image img:hover {
  width: 9rem;
  opacity: 1;
}

#stack-image img {
  padding-top: 200px;
  width: 9rem;
  opacity: 0.3;
  transition: var(--transition);
  animation: disappear 1s linear 0s infinite alternate;
}

#stack-image img:hover {
  width: 9rem;
  opacity: 1;
}

.image {
  padding-top: 5rem;
  width: 20rem;
  border-radius: 50%;
  border-color: none;
  align-self: center;
  display: flex;
  margin: auto;
  /* margin-top: 1rem; */
  opacity: 0.5;
  animation: disappear 7s linear 0s infinite alternate;
}

.image-container .image:hover {
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  color: var(--border-color);
  transition: var(--transition);
  padding-top: 20px;
  /* animation: disappear 3s linear 0s infinite alternate; */
}

h1:hover {
  cursor: progress;
}

.content {
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: var(--font-family);
  font-size: 17px;
  color: white;
  text-rendering: optimizeLegibility;
}

.container .content img {
  width: 2rem;
  margin: 5px;
  opacity: 0.3;
  transition: var(--transition);
}

.container .content img:hover {
  background-color: var(--border-color);
  opacity: 1;
}

marquee {
  width: 50%;
}
