:root {
  --font-family: "Roboto", sans-serif;
  --background-color: #0077b5;
  --border-color: white;
  --transition: all 4s;
  --color: orange;
}

* {
  font-family: var(--font-family);
}

/* The animation code */
@keyframes disappear {
  from {
    opacity: 0.5;
    border: none;
  }
  to {
    opacity: 1;
    /* border-width: 1rem; */
    border-style: none;
    border-color: var(--border-color);
    transition: all 5s;
  }
}

body {
  background-color: var(--background-color);
}

.content {
  text-align: end;
  width: 100%;
  margin: auto;
  font-family: var(--font-family);
  font-size: 17px;
  color: white;
  text-rendering: optimizeLegibility;
}

.content img {
  width: 2rem;
  margin: 5px;
  transition: var(--transition);
}

.content img:hover {
  background-color: var(--color);
}
.navbar {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  transition: var(--transition);
}

.navbar-nav {
  font-weight: 500;
  font-size: small;
}

.navbar-nav .active {
  color: var(--color) !important ;
}

.navbar-nav .nav-item a:hover {
  text-rendering: optimizeLegibility;
  background-color: var(--background-color);
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='orange' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  font-family: var(--font-family);
  font-size: medium;
}

.row {
  margin-top: 5%;
  transition: var(--transition);
}

.card {
  margin: auto;
  width: 20rem;
  transition: var(--transition);
  overflow: hidden;
}

.card img {
  transition: all 1.5s ease;
}

.card img:hover {
  transform: scale(1.7);
}

.card-title {
  color: var(--color);
  font-family: var(--font-family);
}

.card-body {
  background-color: rgb(241, 236, 236);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transition: var(--transition);
}

.heros {
  margin: auto;
}
#stack-image img {
  margin-top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-color: white;
  padding-top: 100px;
  width: 9rem;
  transition: var(--transition);
}

.hero-image {
  text-align: center;
  height: auto;
}

.hero-image img {
}

.container {
  text-align: center;
}

.image {
  padding-top: 5%;
  width: 20rem;
  border-radius: 50%;
  border-width: 0rem;
  border-color: white;
  border-style: double;
  align-self: center;
  display: flex;
  margin: auto;
}

h1 {
  font-size: 2rem;
  color: var(--border-color);
  transition: var(--transition);
  padding-top: 5px;
  /* animation: disappear 3s linear 0s infinite alternate; */
  text-rendering: optimizeLegibility;
}

h1:hover {
  /* cursor: progress; */
}

h3 {
  /* color: var(--border-color); */
  transition: var(--transition);
  text-rendering: optimizeLegibility;
}

h6 {
  transition: var(--transition);
  color: var(--border-color);
}

span {
  color: gold;
}
