:root {
  --font-family: "Roboto", sans-serif;
  --background-color: #0077b5;
  --border-color: white;
  --transition: all 4s;
}

/* The animation code */
@keyframes disappear {
  from {
    opacity: 0.5;
    border: none;
  }
  to {
    opacity: 1;
    /* border-width: 1rem; */
    border-style: none;
    border-color: var(--border-color);
    transition: all 5s;
  }
}

body {
  background-color: var(--background-color);
}

.content {
  text-align: end;
  width: 100%;
  margin: auto;
  font-family: var(--font-family);
  font-size: 17px;
  color: white;
  text-rendering: optimizeLegibility;
}

.content img {
  width: 2rem;
  margin: 5px;
  transition: var(--transition);
}

.content img:hover {
  background-color: gold;
}
.navbar {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.row {
  margin-top: 5%;
}

.card {
  margin: auto;
  width: 20rem;
}

.card:hover {
  /* transform: scale(1.5); */
}

.card-title {
  color: gold;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transition: var(--transition);
}

.heros {
  margin: auto;
}
#stack-image img {
  margin-top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-color: white;
  padding-top: 100px;
  width: 9rem;
  transition: var(--transition);
}

.hero-image {
  text-align: center;
  height: auto;
}

.hero-image img {
}

.text h1 {
  font-family: var(--font-family);
  padding-bottom: -1000px;
  color: white;
}
